<% @dive.fish.each do |fish| %>
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag "http://#{fish.picture_link}" %>
      <div class="caption">
        <h3><%= fish.name %></h3>
      </div>
    </div>
  </div>
<% end %>