$(document).ready(function(){
	$(".fancybox").fancybox();
	
	$(".thumb:last").hide();

	$(".uploader").bind("fileuploaddone", function (e, data) {
    $(".fancybox").fancybox();    
	});

  if($("div.dives.show").data("member") == false){
    $(".glyphicon-remove").hide();
    $(".photo-remove").hide();
    $(".fish-remove").hide();
  }

	//remove delete button for dive owner
	$('#divers').children().first().children('.diver-remove').remove()

	//Hijacking Upload button
	$(".fileinput-button").on("click", function(e){
		e.preventDefault();
		$("#photo_image").trigger("click");
	});

  var availableTags_divers = [];

  function createSuccessHandlerDivers(data){
    var keys = Object.keys(data);
    keys.forEach(function(key){
      availableTags_divers.push(data[key]);
    });
  }

  $.ajax({
    type: 'GET',
    url: '/divers',
    success: createSuccessHandlerDivers
  });

  var availableTags_fish = <%= (Fish.all.collect { |fish| "#{fish.name}" }) %>;
  $( "#name" ).autocomplete({
    source: availableTags_fish
  });
  $( "#diver_name" ).autocomplete({
    source: availableTags_divers
  });  
  //End autocomplete
  
  //removing a photo
	$(".gallery").on("click", ".photo-remove", function(e){
		e.preventDefault();
		$.ajax({
  		url: "/photos/" + $(this).data('photo-id'),
  		type: "post",
  		dataType: "json",
  		data: {"_method":"delete"}
		});
		$(this).closest("div").remove();

	});

//adding a fish
	$('#fish_search').submit(function(event){

		event.preventDefault(); //prevent form submit

		var id = $('#fish_search').data('id');
		var fish_name = $('#name').val();

		$.post('/dives/'+id+'/fish', {name: fish_name}, function(dive_fish){
			$('#fish').empty();
			$.each(dive_fish, function(i, fish) {

				var this_fish =  '<div class="col-md-6">'+
													'<a href='+fish.wiki_link+' target="_blank">'+
									          '<div class="thumbnail fish-thumb">'+
									          	'<button class="btn fish-remove" data-fish-id="'+ fish.id + '"data-dive-id='+ id +'>X</button>'+
									            '<img src="http://'+fish.picture_link+'">'+
									             '<div class="caption">'+
									              '<h4>'+fish.name+'</h4>'+
									            '</div>'+
									          '</div>'+
									          '</a>'+
								        '</div>';

				$('#fish').append(this_fish);
			});

		});

	});

//Adding a diver
$('[value="Add Diver"]').click(function(event){

    event.preventDefault(); //prevent form submit

    var id = $('#diver_search').data('id'); // Dive id
    var diver_name = $('#diver_name').val(); // Diver's name to add
    $.post('/dives/'+id+'/divers', {name: diver_name}, function(diver){
      console.log(diver.id);

      var this_diver =  '<span class="diver-thumb"><a href="/divers/'+diver.id+'">'+
                      '<img class="img-circle" src="'+diver.image+'">'+
                    '</a>' + "<span class='diver-remove'><span class='glyphicon glyphicon-remove diver-remove-icon' data-dive-id='" + 
                    id + "' data-diver-id='" + diver.id + "'></span></span></span>";



      $('#divers').append(this_diver);

    });
  });  

//Removing a fish
	$("#fish").on("click", ".fish-remove", function(event){
		event.preventDefault();
		var id = $(this).data('dive-id');
		var fish_id = $(this).data('fish-id');
		var currentX = $(this);


		$.ajax({
			url: '/dives/'+id+'/fish/'+fish_id,
    	type: 'POST',
    	data: {"_method":"delete"},
    	success: function(event){
    		currentX.closest(".thumbnail").remove();
    	}
    });
	});
//end removing a fish

//Removing a diver

	$("#divers").on("click", ".diver-remove-icon", function(event){
		event.preventDefault();
		var id = $(this).data('dive-id');
		var diver_id = $(this).data('diver-id');
		var currentX = $(this);


		$.ajax({
			url: '/dives/'+id+'/divers/'+diver_id,
    	type: 'POST',
    	data: {"_method":"delete"},
    	success: function(event){
    		currentX.closest(".diver-thumb").remove();
    	}
    });

	});

});