<% if @photo.new_record? %>
  alert("Failed to upload photo: <%= j @photo.errors.full_messages.join(', ').html_safe %>");
<% else %>

  $(".gallery").append('<div class="col-lg-3 col-md-4 col-xs-6 thumb">'+
                '<a class="fancybox" rel="group" href="<%= @photo.image_url %>">'+
                  '<button class="btn photo-remove" data-photo-id="<%= @photo.id %>">X</button>'+
                  '<img class="image-thumb thumbnail" src="<%= @photo.image_url(:thumb) %>"  alt="" />'+
                '</a>'+
            '</div>');
<% end %>
