/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fancybox/jquery.fancybox
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 //= depend_on_asset "turtle.jpg"
 //= depend_on_asset "red_pen.png"
 */
@import "bootstrap";

/* Some Style from the Bootstrap Default Theme */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

h1 {
  font-family: 'Londrina Solid', cursive;
  font-size: 70px;
}

.intro-text h1 {
  text-shadow: 4px 4px black; 
}

.navbar-brand {
  font-family: 'Londrina Solid', cursive;
  font-size: 2em;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.navbar {
  background-color: #243743;
  border: 0;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.bg {
  background: url('turtle6.jpg') no-repeat center center fixed; 
  background-size: cover;
}

.intro-text {
  padding-top: 150px;
  text-align: center;
  color: white;
}

#fish img{
  width: 220px;
  height: 151px;
}

#recentdives {
  background-color: #243743;
  border-radius: 5px;
  text-align:center;
  color: #FAFAFA;
  opacity: .7;
  font-size: 20px;
}

#recentdives a:link{
  color: #87DDC4;
}

#recentdives-list {
  left: 1%;
  right: 1%;
}

#recentdives-list li{
  list-style-type: none;
  margin: 0px auto;
  /*text-indent: 25px;*/
}

.toscroll {
  height:500px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.purr {
  position: absolute;
  left: 40%;
  right: 60%;
  text-align: center;
  top: 60px;
  margin: 0 auto;
  width: 250px;
  padding: 5px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}