.panel {
	opacity: 0.9;
}

input {
	border-radius: 5px;
	border-image-slice: none;
}

.bar {
	height: 18px;
	background-color: grey;
}

.uploader {
	opacity: 0;
	cursor:pointer;
	position:absolute;
	top: 0;
	z-index: 2;
}

button .fileinput-button {
	position: relative;
	z-index: -1;
}

.uploaderbutton {
	position: relative;
}

.best_in_place:hover {
  /*padding-right: 1.5em;*/
  background: image-url('red_pen.png') no-repeat right;
  background-color: #CCC;
}